{{- $pag := .Paginator -}}
{{- if gt $pag.TotalPages 1 -}}
<nav class="pagination" aria-label="分页导航">
  {{- if $pag.HasPrev -}}
    <a href="{{ printf "%s%s" site.BaseURL (strings.TrimPrefix "/" $pag.Prev.URL) | safeURL }}" class="pagination-btn prev">
      <i class="fas fa-arrow-left"></i>
      <span>{{ i18n "prev" }}</span>
    </a>
  {{- else -}}
    <span class="pagination-btn prev disabled">
      <i class="fas fa-arrow-left"></i>
      <span>{{ i18n "prev" }}</span>
    </span>
  {{- end -}}

  <span class="pagination-info">
    {{ $pag.PageNumber }} / {{ $pag.TotalPages }}
  </span>

  {{- if $pag.HasNext -}}
    <a href="{{ printf "%s%s" site.BaseURL (strings.TrimPrefix "/" $pag.Next.URL) | safeURL }}" class="pagination-btn next">
      <span>{{ i18n "next" }}</span>
      <i class="fas fa-arrow-right"></i>
    </a>
  {{- else -}}
    <span class="pagination-btn next disabled">
      <span>{{ i18n "next" }}</span>
      <i class="fas fa-arrow-right"></i>
    </span>
  {{- end -}}
</nav>
{{- end -}}